# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html> lang="english"
    <head>
        <Title> protfilo </Title>
    </head>
    <body> 
        <h1><u> 1.HEADER </u></h1>
    </br>
    <p> My Name Is Prachi Kiran Sharma. </p>
    <p> Im Building my protfilo. </p>
    <br>
        <h2> 2.ABOUT ME </h2>
</br>
<P> Im a first year engineering student from the St John College Of Enginerring And Management.Im into AIML branch (ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING).
     </P>
     <br>
<p> I started coding at the age of 16 but due to Boards I completely stopped coding .Now Im working on my skills again.  </p>
   <br>
   <p> My age is 18 currently. Im from Maharashtra, Mumbai, Vasai.</p>
   <h2> 3.SKILLS AND PROJECTS </h2>
   <br>
    <P> Im learning HTML at a very stable pace. Im trying to build a website through my skills regarding to HTML. Im going to learn CSS and JAVASCRIPT as soon as possible. </P>
    <p> My projects are coming soon.</p>
    <P> I know other coding languages too such as C/C++, JAVA, PYTHON,ETC. </P>
<br>
    <h2> 4.HOBBIES AND INTERESTS </h2>
    <br>
    <P> As im quite interested in coding apart from this i love to read books, drawings,Travelling and listening to musics.</P>
    <br> 
     <h2> 5.GOALS </h2>
     <br>
     <p> I want to be an AIML engineer and im quite interested into Graphic designing and Web development.I would love to make some apps too.</p>
     <br>
     <h2> 6.CONTACT </h2>
     <br>
     <p>I would love to tag my Email and linkedin. </p>
     <br>
     <a href = "https://www.linkedin.com/in/prachi-sharma-962a783b0?utm_source=share_via&utm_content=profile&utm_medium=member_android"> linkedin</a>
     <br>
     <a href ="mailto:prachi.k.sharma@gmail.com"> Email</a>
    <!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>


